.ui-benefit {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding: 32px;

  &__bottom {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 40px;

    & p {
      display: -webkit-box;
      flex-grow: 1;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &__header {
    >div {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 24px;

      & span:first-of-type {
        aspect-ratio: 1/1;
        border-radius: 100px;
        height: 14px;
      }
    }
  }
}
