@use '../../styling/colours' as c;
@use '../../styling/variables' as v;

.ui-testimonials {
  --_translate: 1;
  overflow-y: hidden;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }

  &__sliders {
    --_gap: 20px;

    display: flex;
    gap: var(--_gap);
    translate: calc(((var(--_translate) - 1) * (-100% - var(--_gap)))) 0;
    transition: all 0.5s ease-out;

    &>div {
      min-width: 100%;
    }

    &>div>p {
      color: c.$black;
      font-family: v.$font-family;
      font-size: 36px;
      font-weight: 600;
      line-height: 160%;
    }
  }

  &__buttons {
    align-items: center;
    bottom: 0;
    display: flex;
    gap: 38px;
    position: absolute;
    right: 0;

    >div {
      display: flex;
      justify-content: center;
      width: 50px;
    }

    & span {
      color: rgba($color: c.$black, $alpha: 0.4);
      font-family: v.$font-family;
      font-size: 16px;
      font-weight: 600;

      &:first-of-type {
        color: c.$black;
        text-decoration: underline;
        text-decoration-color: rgba($color: c.$black, $alpha: 0.4);
      }
    }
  }

  &__person {
    display: flex;
    gap: 24px;
    margin-top: 75px;
    opacity: 1;
    transition: all 0.4s ease-out 0.2s;
    visibility: visible;

    &[aria-hidden="true"] {
      opacity: 0;
      transition: all 0.2s ease-out;
      visibility: hidden;
    }

    & img {
      border-radius: 100%;
    }

    & span {
      color: c.$black;
      font-family: v.$font-family;
      font-size: 20px;
      font-weight: 700;
      line-height: 180%;
    }

    & p {
      color: c.$gray;
      font-family: v.$font-family;
      font-size: 16px;
      font-weight: 500;
      line-height: 180%;
    }
  }
}
