@use './styling/variables' as v;
@use './styling/colours' as c;

.menu {
  display: flex;
  justify-content: space-between;

  & nav ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 33px;

    & li:first-of-type {
      margin-right: 40px;
    }
  }

  &__buttons {
    display: flex;
    gap: 10px;
  }
}

.presentation {
  &__text {
    display: flex;
    flex-direction: column;
    max-width: 50%;

    >p {
      margin-block: 48px;
    }

    >div:first-of-type {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 48px;
      margin-bottom: 90px;
    }

    >div:last-of-type {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 48px;
    }
  }

  &__title {
    color: c.$black;
    font-family: v.$font-family;
    font-size: 72px;
    font-weight: 600;
  }
}

.examples {
  background-color: c.$black;

  & h1 {
    color: white;
    text-align: center;
  }
}

.faqs {
  background-color: white;
  display: flex;
  flex-direction: row;
  gap: 90px;
  padding: 66px 80px;

  >div {
    width: 50%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  &__links {
    align-items: center;
    display: flex;
    gap: 48px;
  }
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;

  &__content {
    display: flex;
    gap: 90px;
    flex-direction: row;

    &>* {
      width: 50%;
    }

    & div {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;

    &>div {
      width: 33%;
    }
  }
}

.join {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & h1 {
    color: white;
    font-family: v.$font-family;
    font-size: 80px;
    font-weight: 600;
    line-height: 130%;
  }
}

.about {
  display: flex;
  flex-direction: column;
  gap: 70px;

  &>div:last-child {
    display: flex;
    gap: 24px;
  }

  &>div:first-child {
    align-items: start;
    display: flex;
    flex-direction: row;
    gap: 35px;

    >* {
      max-width: 50%;
    }
  }

  &__info {
    background-color: black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 33%;

    & span:first-of-type {
      color: white;
      display: inline-block;
      font-family: v.$font-family;
      font-size: 84px;
      font-weight: 700;
      width: fit-content;
    }

    & span:first-of-type,
    & div {
      position: relative;

      &:after {
        content: '+';
        font-family: v.$font-family;
        font-size: 84px;
        font-weight: 700;
        position: absolute;
        right: -60px;
      }
    }

    & span:first-of-type:after {
      color: c.$secondary;
    }

    & div:after {
      color: white;
      top: -30px
    }

    & div {
      display: flex;
      flex-direction: row;
      gap: 7px;
      margin-top: 130px;
      width: fit-content;

      & img {
        aspect-ratio: 1/1;
        border: 2px white solid;
        border-radius: 50px;
        width: 70px;
      }

      &>span {
        color: white;
        margin-top: -20px;
      }
    }
  }

  &__video {
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.2);
    border-radius: 30px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    position: relative;

    & p {
      color: white;
      font-family: v.$font-family;
      font-size: 48px;
      font-weight: 600;
      letter-spacing: 12px;
      line-height: 140%;
      text-transform: uppercase;
    }

    & span {
      align-items: center;
      aspect-ratio: 1/1;
      background-color: c.$secondary;
      border: 12px white solid;
      border-radius: 100px;
      bottom: -20px;
      display: flex;
      justify-content: center;
      position: absolute;
      right: -20px;
      width: 160px;
    }
  }
}

.footer {
  display: flex;
  gap: 108px;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 50%;

    >div {
      display: flex;
      flex-direction: row;
      gap: 12px;
      justify-content: start;

      & a {
        align-items: center;
        aspect-ratio: 1/1;
        border-radius: 50px;
        background-color: white;
        display: flex;
        height: 34px;
        justify-content: center;
        transition: all 0.4s ease;

        &:hover {
          background-color: black;
          transition: all 0.4s ease;

          & svg {
            filter: invert(1);
          }
        }
      }
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    gap: 50px;

    & ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      list-style: none;

      & li:first-of-type {
        color: c.$black-ish;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
      }

      & li {
        align-items: center;
        color: c.$gray;
        display: flex;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 400;
        gap: 8px;
        transition: all 0.4s ease;

        &:hover {
          color: black;
          transition: all 0.4s ease;
        }

        & svg {
          width: 22px;
        }
      }
    }
  }
}
